<div  style="font-weight:bold">
<span>{{title}}</span>
</div>


<div ng-controller="GameStateCtrl">
    <br><br>  
    <span style="font-weight:bold">Alive Players</span>
    <div ng-repeat="player in players">
        <div ng-show="player.alive">{{player.name}}</div>    
    </div>
    
    <br><br>    
    <span style="font-weight:bold">Dead Players</span>
    <div ng-repeat="player in players">
        <div ng-hide="player.alive">{{player.name}}</div>    
    </div>
</div>

<script src="scripts/socket.io.js"></script>