<div class="container">
<span>{{title}}</span>
<form role="form" ng-submit="showMeGameState()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="player.email" placeholder="Please, enter your email" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Show me game state">
        </span>
      </div>
    </div>
</form>
<br>
<span ng-if="missions !== undefined">
	<table width="100%">
		<tr>
			<th>Killer</th>
			<th>Target</th>
			<th>Forfeit</th>
			<th>Status</th>
		</tr>
		<tr ng-repeat="mission in missions">
			<td>{{mission.killer.email}}</td>
			<td>{{mission.player.email}}</td>
			<td>{{mission.forfeit.description}}</td>
			<td>{{mission.status}}</td>
		</tr>
	</table>
</span>
